
<mat-toolbar color="primary">
  <a [routerLink]="['/']">Home</a>

  <div class="fill"></div> <!-- place 3 vertical dots button to the right side of the bar -->
  
  <button mat-icon-button [matMenuTriggerFor]="menu"> <!-- 3 vertical dots button & attaching the menu below to it -->
    <mat-icon>more_vert</mat-icon>
  </button>

</mat-toolbar>

<mat-menu #menu="matMenu"> <!-- local temp variable: #menu -->
  <button mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>About</span>
  </button>

  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Services</span>
  </button>
  
  <button mat-menu-item>
    <mat-icon>contacts</mat-icon>
    <span>Contact</span>
  </button>
</mat-menu>
